<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="ZelloAggregatorSuite" verbose="1">
    <test name="AllTests">
        <classes>
            <class name="com.charles.eakins.zello.service.ZelloApiServiceTest"/>
            <class name="com.charles.eakins.zello.controller.VaultControllerTest"/>
        </classes>
    </test>
</suite>